# Create Targets From Land Survey Tide Staff Excel File

This notebook will take an excell file from the land survey department and export a target file for Hypack. 

First download a copy of the SWG Tide Staffs Excel file. Delete any rows that have strikethrough text formatting. Then delete any extran columns. The only columns that are needed are the name, x, y, date. 
The date is not really needed, but it kept so that it gets written to the .tgt file. However, for some reason the date does not populate in Hypack when importing.

In [8]:
import pandas as pd 
from datetime import date
import csv

In [11]:
# Initialization

# Set the working directory
WD = "/home/roger/Documents/Python/"
# enter the location of the xcell spreadsheet that has all the tide staffs
Targets = "/home/roger/Documents/Python/SWG_Tide_Staffs_Testing.xlsx"

# Get the date today 
Todays_Date = date.today()
Todays_Date = Todays_Date.strftime("%Y%m%d")

# Create the output filename
Output_File = f"SWG_Tide_Staffs_{Todays_Date}.tgt"
#print (Output_File)

In [12]:
# The spreadsheet contains 3 sheets, so they will need to be read in separately and then combined.
df1 = pd.read_excel(Targets, "Bay City Tide Staffs", index_col=None, na_values=["NA"])
df2 = pd.read_excel(Targets, "Galveston Tide Staffs", index_col=None, na_values=["NA"])
df3 = pd.read_excel(Targets, "La Porte Tide Staffs", index_col=None, na_values=["NA"])

# Combining the 3 sheets
frames = [df1, df2, df3]
df = pd.concat(frames)
df

,Staff Name,Location,Unnamed: 2,NAVD88 to MLLW Conversion,Top of 4' Staff Elevation,Unnamed: 5,Date Set or Checked,Channel,Notes
0,NaN,Easting,Northing,NaN,NAVD88,MLLW,NaT,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
2,BH,3143134.1,13540738.3,-0.6,3.4,NaN,2023-09-18,Freeport,Set from RTK(120epochs)r12i_ 9/18/2023
3,FG,3139177.6,13548183.5,-0.6,3.4,4,2021-01-22,Freeport,"Set via sx10 sta vdd7 and sm6 jan 22, 2021"
4,JM,2874069,13411487,0.3,4.3,4,2023-02-20,GIWW,RESET TO MLLW/KTD value 0.3 ft 88/g18 (vrs obs)
...,...,...,...,...,...,...,...,...,...
23,RP,3256575.16,13833586.35,-0.1,3.9,4,2020-05-19,CEDAR BAYOU,NaN
24,PPO,3262003.781,13843557.805,-0.1,3.9,4,2020-05-19,CEDAR BAYOU,NaN
25,CB,3264539.882,13849220.681,-0.1,3.9,4,2020-05-19,CEDAR BAYOU,NaN
26,DB,3249879.114,13736990.53,0.0,4,4,2020-04-03,Dickinson Bayou,NaN
27,CLP,3217478.946,13773911.181,-0.1,3.9,4,2023-06-14,Clear Lake,pile next to ramp

In [13]:
# drop the first two rows since they don't contain anything of value.
df.drop([0, 1], inplace = True)
#Reset the index
df = df.reset_index(drop=True)

# Drop the index column that gets created
#
#df = df.drop("index", axis = 1, drop = True)

#Insert a column called GPT, Hypack needs this
df.insert(0, "GPT", "GPT")
#Reset the index
df = df.reset_index(drop=True)

#Drop the extra columns that are not needed
df = df.drop(df.iloc[:, 4:7], axis=1)
df = df.drop(df.iloc[:, 5:8], axis=1)

df

    GPT Staff Name     Location    Unnamed: 2 Date Set or Checked
0   GPT         BH    3143134.1    13540738.3          2023-09-18
1   GPT         FG    3139177.6    13548183.5          2021-01-22
2   GPT         JM      2874069      13411487          2023-02-20
3   GPT         OL   2885769.11   13419905.54          2023-02-20
4   GPT        MIC      2897856      13422822          2023-02-20
..  ...        ...          ...           ...                 ...
92  GPT         RP   3256575.16   13833586.35          2020-05-19
93  GPT        PPO  3262003.781  13843557.805          2020-05-19
94  GPT         CB  3264539.882  13849220.681          2020-05-19
95  GPT         DB  3249879.114   13736990.53          2020-04-03
96  GPT        CLP  3217478.946  13773911.181          2023-06-14

[97 rows x 5 columns]

In [14]:
# rename the headers
Headers = ["GPT", "Name", "Easting", "Northing","Date"]
df = df.set_axis(Headers, axis = 1)
df

    GPT Name      Easting      Northing       Date
0   GPT   BH    3143134.1    13540738.3 2023-09-18
1   GPT   FG    3139177.6    13548183.5 2021-01-22
2   GPT   JM      2874069      13411487 2023-02-20
3   GPT   OL   2885769.11   13419905.54 2023-02-20
4   GPT  MIC      2897856      13422822 2023-02-20
..  ...  ...          ...           ...        ...
92  GPT   RP   3256575.16   13833586.35 2020-05-19
93  GPT  PPO  3262003.781  13843557.805 2020-05-19
94  GPT   CB  3264539.882  13849220.681 2020-05-19
95  GPT   DB  3249879.114   13736990.53 2020-04-03
96  GPT  CLP  3217478.946  13773911.181 2023-06-14

[97 rows x 5 columns]

In [15]:
# convert date format
df['Date'] = df['Date'].dt.strftime('%m/%d/%Y')

# Add Quotes around the Staff Names
df["Name"] = [f'"{j}"' for j in df["Name"]]

df

    GPT   Name      Easting      Northing        Date
0   GPT   "BH"    3143134.1    13540738.3  09/18/2023
1   GPT   "FG"    3139177.6    13548183.5  01/22/2021
2   GPT   "JM"      2874069      13411487  02/20/2023
3   GPT   "OL"   2885769.11   13419905.54  02/20/2023
4   GPT  "MIC"      2897856      13422822  02/20/2023
..  ...    ...          ...           ...         ...
92  GPT   "RP"   3256575.16   13833586.35  05/19/2020
93  GPT  "PPO"  3262003.781  13843557.805  05/19/2020
94  GPT   "CB"  3264539.882  13849220.681  05/19/2020
95  GPT   "DB"  3249879.114   13736990.53  04/03/2020
96  GPT  "CLP"  3217478.946  13773911.181  06/14/2023

[97 rows x 5 columns]

In [16]:
#Export to target file
#TODO add Output_File variable and datestamp to filename ex: SWG_Tide_Staffs_20241124.tgt"
df.to_csv(WD + Output_File,sep='\t', header= False, index=False, quoting=csv.QUOTE_NONE)

#For now, configure the output filename here:
#df.to_csv(WD + 'SWG_Tide_Staffs_20241124.tgt',sep='\t', header= False, index=False, quoting=csv.QUOTE_NONE)

### Jupyter Notebooks have completely ruined me.